{% extends 'base.html' %}
{% block content %}
    <h1>{{ blog }}</h1>
    <div style="text-align: right" >
    {{ blog.author.username }}
    {% if request.user == blog.author %}
        <a href="{% url 'blog_update' blog.pk %}">수정</a>
        <form action="{% url 'blog_delete' blog.pk %}" method="post" style="display: inline">
            {% csrf_token %}
            <button>삭제</button>
        </form>

    {% endif %}
    </div>
    <hr>
    <p>{{ blog.content }}</p>
    <br>
    <a href="{% url 'blog_list' %}">목록으로 돌아가기</a>

{% endblock %}