{% extends 'base.html' %}
{% block content %}
    <h1>{{ blog }}</h1>
    <div style="text-align: right" >
    {{ blog.author.username }} {{ test }}
{#    {% if request.user == blog.author or request.user.is_staff %}#}
    {% if request.user == blog.author or request.user.is_superuser %}
        <a href="{% url 'blog:update' blog.pk %}">수정</a>
        <form id="delete_form" action="{% url 'blog:delete' blog.pk %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="button" id="delete_btn">삭제</button>
        </form>

    {% endif %}
    </div>
    <hr>
    <p>{{ blog.content }}</p>
    <br>
    <a href="{% url 'blog:list' %}">목록으로 돌아가기</a>

{% endblock %}

{% block js %}
    <script>
    document.querySelector('#delete_btn').addEventListener('click',function (){
        if(confirm('삭제하시겠습니까?')){
            document.querySelector('#delete_form').submit();
        }
    })
    </script>
{% endblock %}