{% extends 'base.html' %}
{% block content %}
    <h1>블로그 목록 /   세션 - {{ count }}</h1>
    <p style="text-align: right">
        <a href="{% url 'blog:create' %}">생성</a>

    </p>
    <hr>
    {% for blog in object_list %}
{#        <p><a href="../blog/{{ blog.id }}/">{{ blog }} - <small>{{ blog.created_at | date:'Y-m-d' }}</small></a></p>#}
        <p><a href="{% url 'blog:detail' blog.pk %}">({{ blog.id }}) [{{ blog.get_category_display }}]{{ blog.title }} <span>({{ blog.author.username }})-</span><small>{{ blog.created_at | date:'Y-m-d' }}</small></a></p>
    {% endfor %}

{#    검색기능  #}
    <form method="get" style="margin-bottom: 10px;">
        <input name="q" type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button>검색</button>
    </form>


    {% include 'pagination.html' %}

{% endblock %}

