{% extends 'base.html' %}
{% block content %}
    <h1>{{ blog }}</h1>
    <div style="text-align: right" >
    {{ blog.author.username }} {{ test }}
{#    {% if request.user == blog.author or request.user.is_staff %}#}
    {% if request.user == blog.author or request.user.is_superuser %}
        <a href="{% url 'blog:update' blog.pk %}">수정</a>
        <form id="delete_form" action="{% url 'blog:delete' blog.pk %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="button" id="delete_btn">삭제</button>
        </form>

    {% endif %}
    </div>
    <hr>
    <p>{{ blog.content }}</p>
    <br>
    <hr>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'blog:comment_create' blog.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button>작성</button>
        </form>
    {% endif %}
    <hr>

    <div id="comment_wrapper">
    {% for comment in object_list %}
        <p>{{ comment.created_at|date:'Y-m-d H:i' }}|{{ comment.content }} - {{ comment.author.username }}</p>
    {% endfor %}
    </div>
     {% include 'pagination.html' with fragment='comment_wrapper' %}
    <a href="{% url 'blog:list' %}">목록으로 돌아가기</a>

{% endblock %}

{% block js %}
    <script>
    document.querySelector('#delete_btn').addEventListener('click',function (){
        if(confirm('삭제하시겠습니까?')){
            document.querySelector('#delete_form').submit();
        }
    })
    </script>
{% endblock %}